map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

server {
    listen 80;
    server_name ${DOMAIN};

    location /oauth2/ {
        proxy_pass http://oauth2-proxy:4180;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Uri $request_uri;
        proxy_set_header X-Auth-Request-Redirect https://$host$request_uri;
    }

    location = /oauth2/auth {
        proxy_pass http://oauth2-proxy:4180;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Uri $request_uri;
        proxy_set_header Content-Length "";
        proxy_pass_request_body off;
    }

    location /socket.io/ {
        auth_request ${AUTH_REQUEST};

        proxy_pass http://excalidraw-room:80;

        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
    }

    location / {
        auth_request ${AUTH_REQUEST};
        error_page 401 = @oauth2_signin;

        gzip on;
        gzip_types text/css application/javascript;

        proxy_pass http://excalidraw:80;
    }

    location @oauth2_signin {
        return 302 /oauth2/sign_in?rd=https://$host$request_uri;
    }
}
